<ul class="nav bg-dark text-white">
  <li class="nav-item">
    <a class="nav-link " href="#">One</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Two</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Three</a>
  </li>

</ul>